@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #8A6A60;
      font-family: 'Righteous', cursive;
      font-size: 14px;
      color: rgb(255, 255, 255);
    }
    #carouselExampleIndicators{
        margin: 60px;
    }
    
    #desc-1{
        margin-top: 12px;
    }

    #jud-1 {
        margin-top: 60px;
    }